body{
    background-color: #F7EEED;
}
#searchh1 {
    margin-top: 15%;
}

.card-title {
    font-family: Lato;
}

.card {
    margin-left: 12.5%;
}

.card-img{
    height: 24rem;
}

#heading{
    margin-top: 6rem;
    font-size: 100;
    font-weight: 700;
    color: rgb(216, 0, 0);

}
#heading span{
    color: black;
}

#searchHeading {
    margin-left: 12.5%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: Montserrat;
    font-weight: 700;
}

